{% extends 'base.jinja2' %}

{% block title %} 课程 {% endblock %}

{% block content %}

    <h1>课程列表</h1>

    {% include "course/table_list.jinja2" %}

    {% if paginator %}
        {{ my_paginator() }}
    {% endif %}

{% endblock %}
