/node_modules/
/__pycache__/
*.pyc
db.sqlite3
*.vscode
*.pyo
build/
dist/
.vscode
static/node_modules/


account/__pycache__
assignment/__pycache__
course/__pycache__
home/__pycache__
sortask/__pycache__
submission/__pycache__
utils/__pycache__
polygon/__pycache__
polygon/course/__pycache__