<footer class="jsx-2061850338">
    <div class="ui vertical segment" style="padding-top: 4rem; padding-bottom: 4rem; background-color: rgb(245, 245, 245);">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="row">
                    <div class="seven wide column">
                        <h2 class="ui header">
                            Semantic-UI-Forest
                        </h2>
                        © 2017–2019
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header" style="margin-bottom: 2px;">
                            Powered By
                        </h4>
                        <div class="ui list" role="list" style="margin-top: 2px;">
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="https://semantic-ui.com">
                                    Semantic-UI
                                </a>
                            </li>
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="https://react.semantic-ui.com">
                                    Semantic-UI-React
                                </a>
                            </li>
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="https://nextjs.org/">
                                    Next.js
                                </a>
                            </li>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header" style="margin-bottom: 2px;">
                            Resources
                        </h4>
                        <div class="ui list" role="list" style="margin-top: 2px;">
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="/themes">
                                    Themes
                                </a>
                            </li>
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="/templates">
                                    Templates
                                </a>
                            </li>
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="https://github.com/semantic-ui-forest/awesome-semantic-ui">
                                    Awesome
                                </a>
                            </li>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header" style="margin-bottom: 2px;">
                            About
                        </h4>
                        <div class="ui list" role="list" style="margin-top: 2px;">
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="https://github.com/semantic-ui-forest/semantic-ui-forest/graphs/contributors">
                                    Author
                                </a>
                            </li>
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="https://github.com/semantic-ui-forest/semantic-ui-forest/blob/master/LICENSE">
                                    License
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>