<footer class="" style="margin-top: 2rem;">
    <div class="ui vertical segment" style="padding-top: 4rem; padding-bottom: 4rem; background-color: rgb(245, 245, 245);">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="row">
                    <div class="seven wide column">
                        <h2 class="ui header">
                            拾作业
                        </h2>
                        © 2020
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header" style="margin-bottom: 2px;">
                            服务
                        </h4>
                        <div class="ui list" role="list" style="margin-top: 2px;">
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="{{url('home')}}">
                                    首页
                                </a>
                            </li>
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="{{url('polygon:home')}}">
                                    Polygon
                                </a>
                            </li>
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="">
                                    {#广告位招租#}
                                </a>
                            </li>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header" style="margin-bottom: 2px;">
                            开源
                        </h4>
                        <div class="ui list" role="list" style="margin-top: 2px;">
                            <li class="" role="listitem">
                                <a class="jsx-2061850338" href="https://github.com/cww97/shizuoye">
                                    github
                                </a>
                            </li>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header" style="margin-bottom: 2px;">
                            关于我们
                        </h4>
                        <div class="ui list" role="list" style="margin-top: 2px;">
                            <li class="" role="listitem">
                                <b>团队：</b>
                                <a class="jsx-2061850338" href="https://github.com/cww97/">cww97</a>,
                                <a class="jsx-2061850338" href="https://github.com/foreignbill">foreignbill</a>
                            </li>
                            <li class="" role="listitem">
                                {#<b>联系方式：</b> <a class="jsx-2061850338" href="">你冷吗</a>#}
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>